
<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar size="small" color="tertiary">
        <ion-title class="menu">Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button [routerLink]="['/login']" expand="block">
      <ion-icon name="person-circle-outline" ></ion-icon> Login</ion-button>
      <ion-button [routerLink]="['/registrar']" expand="block">
      <ion-icon name="person-add-outline" ></ion-icon> Registrar</ion-button>
      <ion-button [routerLink]="['/escanear']" expand="block">
      <ion-icon name="qr-code-outline" ></ion-icon> Escaner QR</ion-button>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="home">Home</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-img class="imagen" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/1280px-Logo_DuocUC.svg.png">
      </ion-img>
      <h3 class="bienvenida">Bienvenido a RegistrAPP</h3>
      <h3></h3>
    </ion-content>
  </div>
</ion-app>